@inherits LayoutComponentBase
<div class="background">
    @* <div class="sidebar">
        <NavMenu />
    </div> *@

    <main>
        @* <div class="top-row px-4">
            <a href="https://docs.microsoft.com/aspnet/" target="_blank">About</a>
        </div> *@
        

            <article class="px-5 py-3">
                @Body
            </article>
    </main>
</div>
